.THIS .slds-required{
    text-decoration: none!important;
}

.THIS .slds-form-element__help{
    display: none!important;
}

.THIS.pdfFrame {
    width: 100%;
    height: 100%;
}
.THIS .slds-form-element__help{
    font-size: 1.4rem!important;
}
.THIS .slds-has-error .slds-input{
    border-color:none;
    box-shadow:none;
}
.THIS .addressError{
    display: none;
}
.THIS .confirm1 {
    font-size: initial;
    height: 80px;
    display: none;
    background-color: white;
    border: 1px solid #aaa;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}