body {
	font-family: $AllerRegular;
}

.container {
	max-width: $container_size !important;
	width: $full !important; 
}

.container-fluid {
	@include space(padding, all, $zero);
}

.search-overlay {
	@include position_fixed(0, 0, 0, 0);
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
    display: none;
}

.horizantal-devider {
	border: none;
	border-bottom: 2px solid map-get($color, light_gray);
	opacity: 0.3;
}

.global-space {
	@include space(padding, top, $s75);
	@include space(padding, bottom, $s75);

	@include respond-below(sm) {
		@include space(padding, top, $s25);
		@include space(padding, bottom, $s25);
	}
}

.global-space-top {
	@include space(padding, top, $s75);

	@include respond-below(sm) {
		@include space(padding, top, $s25);
	}
}

.global-space-bottom {
	@include space(padding, bottom, $s75);

	@include respond-below(sm) {
		@include space(padding, bottom, $s25);
	}
}

.show-mobile {
	display: block;
	@include respond-above(sm) {
		display: none;
	}
}

.show-desktop {
	display: block;
	@include respond-below(sm) {
		display: none;
	}
}

.show-tab {
	display: block;
	@include respond-above(md) {
		display: none;
	}
}

.hide-tab {
	display: none;
	@include respond-above(md) {
		display: block;
	}
}

.datepicker-days {
	@include font_size($sm);
}

.dataTables_scrollHeadInner {
	width: $full !important;

	.dataTable {
		width: $full !important;
	}
}

.wizard-section {
	.form-wizard {
		.wizard-form  {
			.input-append.date .add-on {
				position: absolute;
    			right: 27%;
    			top: 50%;
			}
		}
	}
}

.alert {
	@include font_size($below_base);
	@include space(margin, bottom, $s15);
	@include space(padding, right, $s35);
	@include space(padding, top, $s15);
	@include space(padding, bottom, $s15);
	@include border_radius($s10);
	display: flex;

	strong {
		@include font_size($base);
		@include space(margin, right, $s10);
	}

}

.alert-dismissible {
	.close {
		@include font_size($xxx_lg);
		font-weight: normal;
    	top: -5px;
	}
}

.tf-other-prop {
	@include space(margin, top, $s25);

	@include respond-below(sm) {
		@include space(margin, top, $s15);
	}
}

.go-back {
	& ~ {
		.alert {
			@include space(margin, top, $s15);
		}
	}
}

.space-top {
	@include space(margin, top, $s35);

	@include respond-below(sm) {
		@include space(margin, top, $s20);
	}
}

@include respond-above(md) {
	.new-deposit-width {
		width: 92%;
	}
}

