.flex3{
	flex: 3;
	padding:0 $s05;
}
.flex1{
	flex: 1;
	padding:0 $s05;
}

.hasDatepicker{
	position: absolute;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	width: 0px;
}

.calander-icon{
	background-color: map-get($color, light_blue ); 
	width: $s40;
    height: $s40;
    display: flex;
	@include flex_properties(center, center);
    border-radius: 4px;
}

.danger{
	 border : 1px solid map-get($color, maroon) !important
}

.deposit_box_container {
	display: flex;

	@include respond-below(xs) {
		flex-wrap: wrap;
	}
	
	.deposit_box {
		width: 49%;

		@include respond-below(xs) {
			width: 100%;
		}

		&:first-child {
			@include space(margin, right, $s15);

			@include respond-below(xs) {
				@include space(margin, right, $zero);
			}
		}
	}
}

.deposit_box {
	@include border(1px ,solid, rgba(0, 0, 0, 0.1));
	@include space(padding, top, $s20);
	@include space(padding, bottom, $s20);
	@include space(padding, left, $s15);
	@include space(padding, right, $s15);
	@include space(margin, bottom, $s45);
	

	@include respond-below(sm) {
		@include space(margin, bottom, $s25);
	}	
}

.bg-blue-light{
	background-color: #f2f9ff;
	display: flex;
	justify-content: space-between;
}

.pound-currency{
	
}


