.table-container {
    box-shadow: 0px 1px 4px #15223214;
    @include border_radius($s05);
    padding: 8px;
    @include space(margin, bottom, $s25);
    h3 {
        @include font_size($xx_lg);
        color: map-get($color, black);
        font-family: $AllerRegular;
    }
}

.no_navigation {
	.dataTables_length, .dataTables_info, .dataTables_paginate {
		display: none;
	}
}

.no_space {
	.dataTable {
		margin-bottom: $zero !important;
	}
}