// Fonts Variables
$AllerRegular: Aller_regular;
$AllerDisplayRegular: Aller_display_regular;
$Aller_Bold: Aller_bold;
$AllerBoldItalic: Aller_bold_italic;
$AllerLight: Aller_light;
$AllerLightItalic: Aller_light_italic;
$AllerItalic: Aller_italic;


// Font Size Variables
$xxx_lg: 30;
$xx_lg: 24;
$x_lg: 22;
$lg: 20;
$above_base: 18;
$base: 16;
$below_base: 14;
$sm: 12;
$x_sm: 10;
$xx_sm: 8;
$nav-font: 17;
$h3-font: 19;


// Default Size Variables;
$full: 100%;
$half: 50%;
$quarter: 25%;
$zero: 0;
$container_size: 120rem;


// Color Variables
$color: (
	white: #fff,
	black: #000,
	light-black: #2E2E2E,
	gray: #4D4C4C,
	light_gray: #707070,
	blue: #32669E,
	light_blue: #6C7890,
	light_border: #F2F3F6,
);

// Space Size Variables
$s05: 0.5rem;
$s10: 1.0rem;
$s15: 1.5rem;
$s20: 2.0rem;
$s25: 2.5rem;
$s30: 3.0rem;
$s35: 3.5rem;
$s40: 4.0rem;
$s45: 4.5rem;
$s50: 5.0rem;
$s55: 5.5rem;
$s60: 6.0rem;
$s65: 6.5rem;
$s70: 7.0rem;
$s75: 7.5rem;
$s80: 8.0rem;
$s85: 8.5rem;
$s90: 9.0rem;
$s95: 9.5rem;
$s100: 10.0rem;
$s110: 11.0rem;
$s140: 14.0rem;
