footer {
	@include space(padding, top, $s75);

	@include respond-below(sm) {
		@include space(padding, top, $s25);
	}

	h3 {
		@include space(margin, bottom, $s30);

		@include respond-below(sm) {
			@include space(margin, bottom, $s15);
		}
	}

	figure {
		display: inline-block;
		@include space(margin, right, $s10);
		img {
			width: $s70;

			@include respond-below(sm) {
				width: $s35;
			}
		}

		&:last-child {
			@include space(margin, right, $zero);
		}
	}

	ul {
		li {
			@include font_size($below_base);
			@include line_height($above_base);

			@include respond-above(sm) {
				@include space(padding, bottom, $s20);
			}
		}

		&.Social_Media_list {
			li {
				@include space(padding, bottom, $s10);

				a {
					img {
						@include space(margin, right, $s05);
					}
				}
			}
		}
	}
}

.lang_section {

	label {
		display: block;
		@include font_size($sm);
		@include space(padding, left, $s10);
	}

	select {
		@include font_size($below_base);
		border-radius: $s25;
		border-color: map-get($color, blue);
		@include space(padding, all, $s10);
		@include space(padding, right, 3px);

		&:focus {
			outline: 0;
		}
	}

	.lang_select {
		float: right;
	}
} 